[Desktop Entry]
Version=1.3.0
Type=Application
Name=RawRefinery
Comment=Computational photography tool for photographic raw images
Exec=/opt/RawRefinery/RawRefinery
Icon=/opt/RawRefinery/Assets/RawRefineryIcon.png 
Terminal=false
StartupNotify=true
Categories=Utility;Science;Photography